<%= render "devise/shared/nav", title: 'REGISTER', info: '' %>
<div class="">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field mt-3 mb-1">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "field-input" %>
  </div>
  <div class="field mb-1">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "field-input" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em class="mx-3">(should be <%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password", class: "field-input mb-1" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat Password", class: "field-input mb-1" %>
  </div>

  <div class="actions d-flex justify-content-center mt-4 mb-5">
    <%= f.submit "Sign up", class: "field-submit btn px-4 py-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
