<%= form_with model: @payment, url: group_payments_path do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= form.label :Name %>
    </div>
    <div>
      <%= form.text_field :name %>
    </div>
  </div>

   <div>
    <div>
      <%= form.label :Amount %>
    </div>
    <div>
      <%= form.number_field :amount %>
    </div>
  </div>

  <div>
    <div>
      <%= form.label :Groups %>
    </div>
    <div>
      <%= form.collection_select(:groups, current_user.groups, :id, :name, {}, { multiple: true, size: 7, class: "form-select" }) %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
