<p style="color: green"><%= notice %></p>

<%= render @payment %>

<div>
  <%= link_to "Edit this payment", edit_group_payment_path(@payment) %> |
  <%= link_to "Back to payments", group_payments_path %>

  <%= button_to "Destroy this payment", @group_payment, method: :delete %>
</div>
